
.idea/*
.Rhistory
*.bak
onsset/input/*
onsset/prepare/*
image/reg_grid.dbf
image/reg_grid.prj
image/reg_grid.shp
image/reg_grid.shx
image/reg_grid_IMAGE_SSA.dbf
image/reg_grid_IMAGE_SSA.prj
image/reg_grid_IMAGE_SSA.qpj
image/reg_grid_IMAGE_SSA.shp
image/reg_grid_IMAGE_SSA.shx
jrc/convertito.tif
jrc/data_format_requirements.txt
jrc/Kenya mask.qgz
jrc/kenya_mask.tif
jrc/rasterizzato.tif
*.pyc
Setup - Copia.cmd
todo.xlsx
*.xml
onsset/input/Assist/KEN.csv
onsset/KEN.csv
onsset/input/Assist/KEN.csv
onsset/KEN.csv
image/water_demand/mirrig.nc
image/water_demand/GLANDCOVERDETAIL_30MIN.nc
image/water_demand/GFRAC_30MIN.nc
onsset/input/Assist/KEN.csv
onsset/KEN.csv
.849C9593-D756-4E56-8D6E-42412F2A707B
.DS_Store
clusters_final.dbf
clusters_final.gpkg
clusters_final.prj
clusters_final.shp
clusters_final.shx
clusters_final2.gpkg
.849C9593-D756-4E56-8D6E-42412F2A707B
.DS_Store
clusters_final.gpkg
jrc/wealth_employment/citation.txt
jrc/wealth_employment/data_availability.csv
jrc/wealth_employment/data_schema_subnational.txt
jrc/wealth_employment/explanatory_notes_subnational.txt
jrc/wealth_employment/field_names.csv
jrc/wealth_employment/shps/sdr_subnational_data_dhs_2014.cpg
jrc/wealth_employment/shps/sdr_subnational_data_dhs_2014.dbf
jrc/wealth_employment/shps/sdr_subnational_data_dhs_2014.prj
jrc/wealth_employment/shps/sdr_subnational_data_dhs_2014.sbn
jrc/wealth_employment/shps/sdr_subnational_data_dhs_2014.sbx
jrc/wealth_employment/shps/sdr_subnational_data_dhs_2014.shp
jrc/wealth_employment/shps/sdr_subnational_data_dhs_2014.shx
onsset/kenya_clusters/ICOSSE 2018_IMPROVING EUTROPHICATION MODELING IN LCAFINAL3.PDF
onsset/kenya_clusters/clusters_tt_based.gpkg
onsset/kenya_clusters/987.full.pdf
onsset/KEN.csv
onsset/input/Assist/KEN.csv
onsset/cali_KEN.csv
onsset/kenya_clusters/water-10-00296 (1).pdf
onsset/kenya_clusters/water-10-00296.pdf
onsset/results/ke-1-0_0_0_0_0_0.csv
onsset/results/ke-1-0_0_0_0_0_0_summary.csv
onsset/results/ke-1-0_1_0_0_1_0.csv
onsset/results/ke-1-0_1_0_0_1_0_summary.csv
ramp/.DS_Store
ramp/RAMP_services/OLD - NS Before Field Campaign/infos_new.xlsx
image/cropland_area_IMAGE.csv
image/generate_crop_climate_combos.py
image/kwh_yearly_cell_IMAGE.csv
image/pop_IMAGE.csv
image/pop_noaccess_IMAGE.csv
image/schooledupredict.py
image/PrElGen_image.py
image/split schools and healthcare by tier.R
jrc/gadm36_1.dbf
jrc/gadm36_1.prj
jrc/gadm36_1.shp
jrc/gadm36_1.shx
jrc/kenya05.dbf
jrc/kenya05.prj
jrc/kenya05.qpj
jrc/kenya05.shp
jrc/kenya05.shx
jrc/kenya_mask_nulls.tif
jrc/support_merge.R
onsset/kenya_clusters/aaq0216_DataS2.xls
onsset/kenya_clusters/clusters.gpkg
results_figures/agriculture.png
results_figures/agriculture2.png
results_figures/all.png
results_figures/barplot_sectors.png
results_figures/electrification.png
results_figures/Figure6a.png
results_figures/Figure6b.png
results_figures/list()
results_figures/nonres_dem.png
results_figures/other_countries_elrates.csv
results_figures/partial_CBA.png
results_figures/pop_and_elaccess.png
results_figures/sectoral_loads.png
results_figures/sectoral_loads_barplot.png
results_figures/techsplit.png
results_figures/yg_kenya.png
map_clusters.qgz
results_figures/a.png
results_figures/map.png
results_figures/map_econ.png
results_figures/map_revenues.png
results_figures/maxyields.png
results_figures/regions_map.png
results_figures/provinces.png
archive/image/water_demand/mirrig.nc
archive/image/water_demand/GLANDCOVERDETAIL_30MIN.nc
archive/image/water_demand/GFRAC_30MIN.nc
